/*Ajustes generales */
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --colorBG: #f0f0f0;
  --detalles: rgb(1, 140, 203);
  --textos: #fff;
  --linksBG: rgba(0, 0, 0, 0.5);
  --line-color: rgb(1, 140, 255);
  --border-color: rgba(230, 195, 0, 0.897);
  --color-Blanco: white;
  --color-Negro: black;

  /* Gradientes */
  --gradiente-A: rgba(61, 2, 116, 0.89);
  --gradiente-B: rgb(23, 21, 24);
}
/*Fin seteos*/

body {
  background-color: var(--colorBG);
}

h1 {
  text-align: center;
  font-size: 50px;
  color: var(--color-Blanco);
  font-weight: bold;
  text-shadow: 1px 1px 2px var(--color-Negro);
}

h2 {
  text-align: center;
  font-size: 50px;
  color: var(--detalles);
  font-weight: bold;
  text-shadow: 1px 1px 2px var(--color-Negro);
}

.titulo {
  width: 100%;
  position: absolute;
  top: 40%;
  text-align: center;
  color: var(--color-Blanco);
}
.tituloP {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-10%);
  text-align: center;
  color: var(--color-Blanco);
}

/*----------BANNER------------*/
.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      var(--gradiente-A),
      var(--gradiente-B)
    ),
    url(imagenesCv/fondoBanner.jpg);
  background-size: cover;
  background-position: center;
}

span {
  color: var(--detalles);
}

.nav {
  width: 50%;
  margin: auto;
  padding: 30px, 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav ul li {
  list-style: none;
  display: inline-block;
  margin: 40px;
  position: relative;
}

.nav ul li a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: var(--detalles);
  text-transform: uppercase;
  transition: 0.25 ease-in;
}
/*----------ANIMACIÒN LISTA------------*/
.nav ul li::after,
.estudio::after {
  content: "";
  height: 2px;
  width: 0%;
  background: var(--line-color);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}

.nav ul li:hover::after,
.estudio:hover:after {
  width: 100%;
}
/*---------- FIN ANIMACIÒN LISTA------------*/
svg {
  position: relative;
  bottom: 0;
  left: 0;
  top: 40px;
  transform: translateY(40%);
}

/*---------- PROBANDO ANIMACIÒN CARTAS------------*/
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.habilidades {
  display: flex; /* Cambiamos a flex */
  flex-wrap: wrap; /* Permitimos que los elementos se envuelvan si no caben en una línea */
  justify-content: space-between; /* Distribuimos los elementos uniformemente a lo largo del contenedor */
  gap: 30px; /* Espacio entre los elementos */
  padding: 40px; /* Padding para los elementos */
}

.cards {
  width: 159px; /* Ancho fijo de las tarjetas */
  height: 150px;
  padding: 30px 25px;
  background-color: var(--colorBG);
  box-shadow: 0px 7px 10px var(--color-Negro);
  transition: all 0.5s ease;
  border-radius: 45px;
  position: relative;
}
.cards img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40px;
}

.cards:hover {
  transform: translateY(20px);
}
.cards:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    var(--gradiente-A),
    var(--gradiente-B)
  );
  transition: all 0.5s;
  opacity: 0;
  border-radius: 40px;
}
.cards:hover:after {
  opacity: 1;
}
.cards .info {
  position: relative;
  z-index: 3;
  color: var(--colorBG);
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5;
}

.cards:hover .info {
  opacity: 1;
  transform: translateY(30px);
}
.cards .info h3 {
  font-size: 1.4rem;
  margin: 0;
}
.cards .info p {
  letter-spacing: 1px;
  font-size: 0.9rem;
  margin: 10px 0 25px;
  line-height: 130%;
}
.cards .info .btn {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: var(--colorBG);
  color: var(--line-color);
  font-size: 0.85rem;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.cards .info .btn:hover {
  box-shadow: 0px 7px 10px var(--color-Negro);
  background-color: var(--detalles);
  color: var(--color-Blanco);
}
/*---------- FIN ANIMACIÒN CARTAS------------*/

/* Estilos para estudios */
.estudio {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.estudio h3 {
  text-align: center;
  font-size: 50px;
  color: var(--detalles);
  font-weight: bold;
  text-shadow: 1px 1px 2px var(--color-Negro);
}

.estudio ul li {
  /* Ajustar el estilo de los elementos de la lista */
  list-style: none;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: var(--line-color);
  transition: color 0.3s;
}

.estudio ul li:hover {
  color: var(--gradiente-A);
}
/* Fin para estudios */

/* inicio para contactos y redes */
.contacto {
  text-align: center; /* Centra el contenido del contenedor */
}

.contacto p {
  margin-top: 20px;
  margin-bottom: 20px; /* Agrega un margen inferior al párrafo */
  font-weight: bold;
  color: var(--detalles);
}

.contacto img {
  width: 100px;
  margin: 25px;
  filter: drop-shadow(2px 2px 20px var(--gradiente-A));
}

/* fin para contactos y redes */

footer {
  background: linear-gradient(
    to bottom,
    var(--gradiente-A),
    var(--gradiente-B)
  );
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
